VITE_FIREBASE_API_KEY=AIzaSyDPASkjOg4VgRJ6sDLuEau_aVp0afrvvtc
VITE_FIREBASE_AUTH_DOMAIN=awakening-homeopathy.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=awakening-homeopathy
VITE_FIREBASE_STORAGE_BUCKET=awakening-homeopathy.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=80747269705
VITE_FIREBASE_APP_ID=1:80747269705:web:53f29fc71ab39ca2d2f998
VITE_SITE_URL=https://awakening-homeopathy.web.app